In [1]:
import pandas as pd

per_game = 'NBA_2017_2018_Statistics.csv'
per_36min = 'NBA_2017_2018_Statistics_per_36 min.csv'
nba_salary = 'NBA_season17_18_salary.csv'

per_game = pd.read_csv(per_game)
per_36min = pd.read_csv(per_36min)
nba_salary = pd.read_csv(nba_salary)

per_game = pd.DataFrame(per_game)
per_36min = pd.DataFrame(per_36min)
nba_salary = pd.DataFrame(nba_salary)

In [2]:
per_game_df = pd.merge(per_game, nba_salary, on= "Player & Team", how="outer")
per_game_df = per_game_df.drop(columns=['Player & Team','Player_y', 'Team_y','ORB','DRB',
                                        '3P','3PA','3P%','2P','2PA','2P%','eFG%','FT','FTA'])
per_game_df = per_game_df.rename(columns={'Player_x':'Player','Team_x':'Team'})
per_game_df = per_game_df.dropna()

#82 Games in NBA season

per_game_df["Salary per Game"] = round(per_game_df["season17_18"]/82,2)
per_game_df.head()

# formula: (PTS + TRB + AST + STL + BLK − Missed FG − Missed FT - TO)

,Player,Team,Pos,Age,G,GS,MP,FG,FGA,FG%,FT%,TRB,AST,STL,BLK,TOV,PF,PTS,season17_18,Salary per Game
0,Alex Abrines,OKC,SG,24.0,75.0,8.0,15.1,1.5,3.9,0.395,0.848,1.5,0.4,0.5,0.1,0.3,1.7,4.7,5725000.0,69817.07
1,Quincy Acy,BRK,PF,27.0,70.0,8.0,19.4,1.9,5.2,0.356,0.817,3.7,0.8,0.5,0.4,0.9,2.1,5.9,1709538.0,20848.02
2,Steven Adams,OKC,C,24.0,76.0,76.0,32.7,5.9,9.4,0.629,0.559,9.0,1.2,1.2,1.0,1.7,2.8,13.9,22471910.0,274047.68
3,Bam Adebayo,MIA,C,20.0,69.0,19.0,19.8,2.5,4.9,0.512,0.721,5.5,1.5,0.5,0.6,1.0,2.0,6.9,2490360.0,30370.24
4,Arron Afflalo,ORL,SG,32.0,53.0,3.0,12.9,1.2,3.1,0.401,0.846,1.2,0.6,0.1,0.2,0.4,1.1,3.4,2328652.0,28398.20

In [3]:
per_36min_df = pd.merge(per_36min, nba_salary, on= "Player & Team", how="outer")
per_36min_df = per_36min_df.drop(columns=['Player & Team','Player_y', 'Team_y','ORB','DRB',
                                        '3P','3PA','3P%','2P','2PA','2P%'])
per_36min_df = per_36min_df.rename(columns={'Player_x':'Player','Team_x':'Team'})
per_36min_df = per_36min_df.dropna()

#82 games x 48 minutes per game = 3,936 minutes per game 

per_36min_df["Salary per min"] = round(per_36min_df["season17_18"]/3936,2)
per_36min_df["Salary per 36 min"] = per_36min_df["Salary per min"] * 36

#calculate avg. missed field goal attempts

per_36min_df["FGM"] = per_36min_df["FGA"] - per_36min_df["FG"]

#calculate avg. missed free throw attempts

per_36min_df["FTM"] = per_36min_df["FTA"] - per_36min_df["FT"]

#formula: (PTS + REB + AST + STL + BLK − Missed FG − Missed FT - TO)

per_36min_df["Player Efficiency Rating"] = per_36min_df["PTS"] + per_36min_df["TRB"] + per_36min_df["TRB"] + per_36min_df["AST"] + per_36min_df["STL"] + per_36min_df["BLK"] - per_36min_df["FGM"] - per_36min_df["FTM"]

per_36min_df.head()

,Player,Team,Pos,Age,G,GS,MP,FG,FGA,FG%,...,BLK,TOV,PF,PTS,season17_18,Salary per min,Salary per 36 min,FGM,FTM,Player Efficiency Rating
0,Alex Abrines,OKC,SG,24.0,75.0,8.0,1134.0,3.7,9.2,0.395,...,0.3,0.8,3.9,11.2,5725000.0,1454.52,52362.72,5.5,0.3,15.0
1,Quincy Acy,BRK,PF,27.0,70.0,8.0,1359.0,3.4,9.7,0.356,...,0.8,1.6,3.9,10.9,1709538.0,434.33,15635.88,6.3,0.3,21.1
2,Steven Adams,OKC,C,24.0,76.0,76.0,2487.0,6.5,10.3,0.629,...,1.1,1.9,3.1,15.3,22471910.0,5709.33,205535.88,3.8,1.8,33.2
3,Bam Adebayo,MIA,C,20.0,69.0,19.0,1368.0,4.6,8.9,0.512,...,1.1,1.7,3.6,12.6,2490360.0,632.71,22777.56,4.3,1.3,31.6
4,Arron Afflalo,ORL,SG,32.0,53.0,3.0,682.0,3.4,8.6,0.401,...,0.5,1.1,3.0,9.4,2328652.0,591.63,21298.68,5.2,0.2,13.3

In [4]:
#['Player''Team''MP', 'FG', 'FGA','FGM','FT', 'FTA','FTM','TRB', 'AST', 'STL', 'BLK', 'TOV','PTS',
#'season17_18', 'Salary per min', 'Salary per 36 min']

In [17]:
per_36min_df = per_36min_df[['Player','Team','MP','season17_18','Salary per 36 min','Player Efficiency Rating']]
per_36min_df = per_36min_df.sort_values(["MP"], ascending=False)
per_36min_df['Salary per 36 min/ Player Efficiency'] = round(per_36min_df['Salary per 36 min'] / per_36min_df['Player Efficiency Rating'],2)
per_36min_df = per_36min_df.loc[per_36min_df['Player Efficiency Rating'] != 0]
per_36min_df

,Player,Team,MP,season17_18,Salary per 36 min,Player Efficiency Rating,Salary per 36 min/ Player Efficiency
307,LeBron James,CLE,3026.0,33285709.0,304442.64,44.4,6856.82
415,Khris Middleton,MIL,2982.0,14100000.0,128963.52,27.3,4723.94
636,Andrew Wiggins,MIN,2979.0,7574322.0,69277.32,19.5,3552.68
40,Bradley Beal,WAS,2977.0,23775506.0,217458.72,26.8,8114.13
272,Jrue Holiday,NOP,2927.0,25686667.0,234938.88,27.9,8420.75
...,...,...,...,...,...,...,...
622,Jameel Warney,DAL,27.0,46080.0,421.56,37.3,11.30
374,Jeremy Lin,BRK,25.0,12000000.0,109756.08,21.6,5081.30
397,James Michael McAdoo,PHI,18.0,50000.0,457.20,16.0,28.58
646,Troy Williams,HOU,17.0,1471382.0,13457.88,12.6,1068.09
252,Nigel Hayes,LAL,11.0,46080.0,421.56,9.8,43.02

In [21]:
mean = round(per_36min_df['Salary per 36 min/ Player Efficiency'].mean(),2)
median = per_36min_df['Salary per 36 min/ Player Efficiency'].median()

print(mean)
print(median)

2391.27
1256.81